body {
  /*  */
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

nav.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  /* border-bottom: 1px solid grey; */
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

section#admin {
  height: 100vh;
  /* height: calc(100vh - 30px); */
  /* max-height: calc(100vh - 30px); */
  display: flex;
}

section#admin aside {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 300px;
  background-color: var(--color-green);
  border-right: 1px solid black;
  overflow-y: auto;
}

section#admin aside h5 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

section#admin aside ul.list-group {
  border-radius: 0;
}

section#admin aside ul.list-group li {
  background: #65b378;
  color: white;
}

section#admin aside ul.list-group li:hover {
  background: none;
}

section#admin aside ul.list-group li a {
  color: inherit;
}

section#admin aside ul.list-group li a:hover {
  color: inherit;
  background: none;
}

section#admin main {
  /* padding-top: 50px; */
  /* padding-bottom: 30px; */
  margin-top: 50px;
  margin-bottom: 30px;
  flex-grow: 1;
  overflow-y: scroll;
}

section#admin main .container {
  padding-top: 20px;
}
